header {
    padding-top: 7rem;
    height: 120vh;
    overflow: hidden;
    width: 100%;
    


}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;

}

/* CTA  */
.CTA {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Social  */
.Social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0rem;
    bottom: 3rem;

}
.Social a{
    font-size: 1.2rem;
  
}

/* ME  */
.me
{

    width: 20rem;
    height: 30rem;
    background: linear-gradient(var(--color-primary), transparent);
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


/* scroll down  */
.scroll_down
{
    position: absolute;
    right: -2.3rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 1rem;
}
/* Responsice design  */
@media screen and (max-width:600px)
{
    header{
        height: 100vh;
        background-color: red;
    }

}